# UNI Machine Learning Course  (MT616)
# Exam 01: La Maquina lineal

La segunda parte del examen es implementacion y programacion de algoritmos:

1.   Implementacion de la una regresion lineal para predecir el precio de una casa en Boston.
2.   Uso de librerias del scikit-learn para implementar un modelo de regresion lineal para predecir la Contaminación ambiental por partículas (Particulate pollution)

## 1.- The Boston Housing dataset: Contruyendo  J($\theta$) y GD:
### Gradiente descendiente para una función de una sola variable

En esta parte se construye la funcion de costo y se usa el gradiente descendiente para obtener los valores optimos. En esta parte usaremos una data reducida y de una sola dimencion del The Boston Housing dataset

El resultado deseado para esta parte del examen es el gráfico de costos con iteraciones tituladas "Error vs training" con y sin regularización (eje y etiquetado como costo y eje x etiquetado como iteraciones calculando el respectivo MSE.

**Lab referencia:**
1.   https://github.com/PCL-AI/MT616_2018_2/blob/master/Lab02/Lab02a.ipynb
2.   https://github.com/PCL-AI/MT616_2018_2/blob/master/Lab01/Lab01a_MT616.ipynb

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Este dataset contiene características en un rango muy amplio. 
La mejor manera de proceder será normalizar el set de datos. 
Después de cargar y normalizar los datos, incluya el término de intercepción en el set de datos.
Use la desviación estándar para la normalización.

In [0]:
df = #cargar dataset.

1. Después de agregar el término de intercepción, defina X como las características en el set de datos y defina Y como la variable objetivo.
2. Conviértalos en una matriz numpy y defina theta (los coeficientes) con ceros.

In [0]:
X = 
Y = 
X = np.matrix(X.values)  
Y = np.matrix(Y.values)  
theta =

Ahora tenemos todos los módulos para calcular nuestra función de costo:

In [0]:
def costFunction(X, Y, theta):
    '''
    Calcular la Least Square Cost Function.
    Devolver la funcion calculada.
    '''
    return cost

Defina un método de descenso de gradiente que actualizará los thetas en cada iteración y también actualizará el costo.

In [0]:
def gradientDescent(X, Y, theta, alpha, iters):
    '''
    Calcular la funcion gradiente descendiente.
    Devolver la matrix de thetas y de costo.
    '''
    
    return theta, cost

Defina alfa y el número de iteraciones para llamar a la función gradientDescent

In [0]:
#Intentar diferentes valores para ver los resultados, se sugiere alfa = 0.01 e iters = 1000.
alpha = #Definir 
iters = #Definir

result = gradientDescent(X, Y, theta, alpha, iters)


Implemente la Regresión regularizada descrita en clase y reporte el cambio en los coeficientes de los parámetros.

In [0]:
def gradientDescentRidge(X, Y, theta, alpha, itersreg, ridgeLambda):
    '''
    Calcular la funcion gradiente descendiente.
    Devolver la matrix de thetas y de costo.

    '''
    return theta, cost

Defina alfa, número de iteraciones y lambda que minimice la función de costo y úselas para llamar a la función gradientDescent. 
Trace el gráfico de costos con iteraciones tituladas "Error vs entrenamiento" con y sin regularización (eje y etiquetado como costo y eje x etiquetado como iteraciones). Luego, calcule el MSE.

In [0]:
def MSE(theta):
    '''
    calcular y devolver el MSE.
    '''
    return mse

In [0]:
#Pruebe diferentes valores, se sugieren los mismos valores para alfa e itersreg, y se sugiere 0.05 para lambda
alpha = #Definir
itersreg = #Definir
ridgeLambda = #Definir
regResult = gradientDescentRidge(X, Y, beta, alpha, itersreg, ridgeLambda)
print regResult[0]

#MSE para theta con regularizacion
Theta= #Definir
MSE(theta)



# El resultado final deseado para esta parte del examen es el ultimo diagrama definido anteriormente, la explicacion sobre el
# coeficientes de los parámetros con la regularizacion y el MSE. Agregar el diagrama final al informe y explique su algoritmo, el diagrama y
# el MSE. En general debes saber explicar lo que hiciste en esta parte del examen. Finalmente, explique los coeficientes con regularización en su informe.

## 2.- Contaminación ambiental por partículas (Particulate pollution)
##Assessing Beijing's PM2.5 pollution: severity, weather impact, APEC and winter heating
La contaminación de partículas, también llamada particulate matter (PM), es una mezcla de sólidos y gotas de líquido que flotan en el aire. PM2.5 se refiere a particulas que tiene un diámetro menor que 2.5 micrómetros y que es aproximadamente el 3% del diámetro de un cabello humano. Las partículas menores o iguales a 10 micrómetros de diámetro son tan pequeñas que pueden ingresar a los pulmones, lo que podría causar serios problemas de salud. Las lecturas de [PM2.5](https://blissair.com/what-is-pm-2-5.htm)  se incluyen en los informes de calidad del aire de las autoridades ambientales y las empresas.  

En la Figura se muestra la comparacion del diametro con el cabello y la tabla te dara una idea de que niveles de PM2.5 son perjudiciales y las precauciones. La cual se basa en los estándares de calidad del aire para la contaminación de partículas publicados por la [EPA](https://www.epa.gov/).




**Lab reference**
*   https://github.com/PCL-AI/MT616_2019_1/blob/master/Lab03/Lab03.ipynb

In [1]:
from IPython.display import Image
from IPython.core.display import HTML 
display(HTML("<table><tr><td><img src='https://blissair.com/wp-content/uploads/2013/06/pm25_comparison.jpg'></td><td><img src='https://2.bp.blogspot.com/-JrOWaLyMpGQ/Wvk4x61tCvI/AAAAAAAAARQ/j89n5Q8QjGcnpD8oXnLzgSlmER1ovReIQCLcBGAs/s1600/4.png'></td></tr></table>"))

## Dataset
En esta tarea, debe entrenar los modelos de regresión en el set de datos de [Beijing PM2.5](http://archive.ics.uci.edu/ml/datasets/Beijing+PM2.5+Data#).

 Este conjunto de datos por hora contiene los datos de PM2.5 de la Embajada de USA en Beijing. También se incluyen los datos meteorológicos del Aeropuerto Internacional de Pekín.

*  **No**: row number
*  ** year**: year of data in this row
*  ** month**: month of data in this row
*   **day**: day of data in this row
*   **hour**: hour of data in this row
*   **pm2.5**: PM2.5 concentration (ug/m^3)
*   **DEWP**: Dew Point (â„ƒ)
*   **TEMP**: Temperature (â„ƒ)
*   **PRES**: Pressure (hPa)
*   **cbwd**: Combined wind direction
*   **Iws**: Cumulated wind speed (m/s)
*   **Is**: Cumulated hours of snow
*   **Ir**: Cumulated hours of rain

## Pregunta  : ¿Cual de los atributos mejora la calidad de nuestras predicciones?
**Hipótesis :** el **cbwd**  no mejora las predicciones del modelo. 

**Prueba de hipótesis**: Que hacemos para mejorar el error.
      
## Para escojer el mejor modelo:

1.  Hacer un analisis inicial de jerarquias en los datos para subdividirlos.
2.  Puedes eliminar las filas con **NaN** (mas adelante vamos a aprender tecnicas para manejar este tipo de valores)
3.  Debes categorizar el atributo **cbwd** o justificar su eliminacion
4.  Selecciar las características aleatoriamente, forward, backward
5.  Implementar regresores lineales (polinomios) escojiendo los atributos con almenos dos tecnicas mostradas en clase.
6.  Mostrar un gráfico residual para cada uno de los modelos tanto en los datos de entrenamiento como en los datos de prueba. 
7.  El puntaje de $R^2$ debe ser mayor que $0.7$ en los datos de prueba para tu modelo final.

##Tip: 
El error es algo que queremos minimizar, por lo que un número menor para MSE es mejor. Si quisiéramos realizar cambios y mejoras el modelo, el MSE debería ser menor si el modelo está mejorando.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# import model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# import module to calculate model perfomance metrics
from sklearn import metrics

df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv', sep=',')
df.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
No       43824 non-null int64
year     43824 non-null int64
month    43824 non-null int64
day      43824 non-null int64
hour     43824 non-null int64
pm2.5    41757 non-null float64
DEWP     43824 non-null int64
TEMP     43824 non-null float64
PRES     43824 non-null float64
cbwd     43824 non-null object
Iws      43824 non-null float64
Is       43824 non-null int64
Ir       43824 non-null int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

In [9]:
df.describe()

                 No          year  ...            Is            Ir
count  43824.000000  43824.000000  ...  43824.000000  43824.000000
mean   21912.500000   2012.000000  ...      0.052734      0.194916
std    12651.043435      1.413842  ...      0.760375      1.415867
min        1.000000   2010.000000  ...      0.000000      0.000000
25%    10956.750000   2011.000000  ...      0.000000      0.000000
50%    21912.500000   2012.000000  ...      0.000000      0.000000
75%    32868.250000   2013.000000  ...      0.000000      0.000000
max    43824.000000   2014.000000  ...     27.000000     36.000000

[8 rows x 12 columns]

In [12]:
df.describe(include=['object'])

         cbwd
count   43824
unique      4
top        SE
freq    15290

In [0]:
## Escribir codigo
##